{% extends 'store/layout/base.html' %} {% load static %} {% block titre %} Mon compte {% endblock titre %} {% block content %}

<!-- breadcrum -->
<div class="pt-4 container flex gap-3 items-center">
    <a href="/" class="text-primary text-base">
        <i class="fas fa-home"></i>
    </a>
    <span class="text-sm text-gray-400"><i class="fas fa-chevron-right"></i></span>
    <p class="text-gray-600 font-medium uppercase">Mon compte</p>
</div>
<!-- breadcrum end -->

<div class="border-b border-gray-200 flex flex-col" x-data="data">
    <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
        <li class="">
            <a x-on:click="tabIndex = 0" x-bind:class=" { 'border-transparent hover:text-gray-600 hover:border-gray-300': tabIndex != 0, 'border-blue-600 text-blue-600': tabIndex == 0 } " href="#" class="flex p-4 rounded-t-lg border-b-2 group">
                <svg class="mr-2 w-5 h-5" x-bind:class=" { 'text-gray-400': tabIndex != 0, 'border-blue-600 text-blue-600': tabIndex == 0 }" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>Profil
            </a>
        </li>
        <li class="">
            <a x-on:click="tabIndex = 1" x-bind:class=" { 'border-transparent hover:text-gray-600 hover:border-gray-300': tabIndex != 1, 'border-blue-600 text-blue-600': tabIndex == 1 } " href="#" class="flex p-4 rounded-t-lg border-b-2 group">
                <svg class="mr-2 w-5 h-5" x-bind:class=" { 'text-gray-400': tabIndex != 1, 'border-blue-600 text-blue-600': tabIndex == 1 }" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>Adresses
            </a>
        </li>
        <li class="">
            <a x-on:click="tabIndex = 2" x-bind:class=" { 'border-transparent hover:text-gray-600 hover:border-gray-300': tabIndex != 2, 'border-blue-600 text-blue-600': tabIndex == 2 } " href="#" class="flex p-4 rounded-t-lg border-b-2 group">
                <svg class="mr-2 w-5 h-5" x-bind:class=" { 'text-gray-400': tabIndex != 2, 'border-blue-600 text-blue-600': tabIndex == 2 }" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>Moyen
                de paiement
            </a>
        </li>
        <li class="">
            <a x-on:click="tabIndex = 3" x-bind:class=" { 'border-transparent hover:text-gray-600 hover:border-gray-300': tabIndex != 3, 'border-blue-600 text-blue-600': tabIndex == 3 } " href="#" class="flex p-4 rounded-t-lg border-b-2 group">
                <svg class="mr-2 w-5 h-5" x-bind:class=" { 'text-gray-400': tabIndex != 3, 'border-blue-600 text-blue-600': tabIndex == 3 }" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>Changer
                de mot de passe
            </a>
        </li>

    </ul>


    <div class="container">

        <!-- account content -->
        <div class="col-span-9 shadow rounded px-6 pt-5 pb-7 mt-6 lg:mt-0" x-show="tabIndex == 0">
            <form action="#" x-ref="editProfil" method="post" x-on:submit="e => submitChangeprofilInfo(e, $refs.editProfil)">
                {% csrf_token %}
                <h3 class="text-lg font-medium capitalize mb-4">
                    Profile Information,
                </h3>
                <div class="space-y-4">
                    <div>
                        <label class="text-gray-600 mb-2 block">
                        Nom d'utilisateur
                    </label>
                        <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="username" placeholder="Nom d'utilisateur">
                    </div>

                    <div class="grid sm:grid-cols-2 gap-4">
                        <div>
                            <label class="text-gray-600 mb-2 block">
                        Adresse email
                    </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="email" placeholder="Email">
                        </div>
                        <div>
                            <label class="text-gray-600 mb-2 block">
                        Numéro
                    </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="phone" placeholder="+223" value="+223 ">
                        </div>
                    </div>
                </div>
                <div class="mt-6">
                    <button type="submit" class="px-6 py-2 text-center text-white bg-primary border border-primary rounded uppercase font-roboto font-medium">
                <span x-show="!changeprofilInfoLoading">Enregistrer</span>
                <svg x-show="changeprofilInfoLoading" class="h-6 w-10 fill-current text-white" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                    <rect y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                             begin="0.5s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                        <animate attributeName="y"
                             begin="0.5s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                    </rect>
                    <rect x="30" y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                             begin="0.25s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                        <animate attributeName="y"
                             begin="0.25s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                    </rect>
                    <rect x="60" width="15" height="140" rx="6">
                        <animate attributeName="height"
                             begin="0s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                        <animate attributeName="y"
                             begin="0s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                    </rect>
                    <rect x="90" y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                             begin="0.25s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                        <animate attributeName="y"
                             begin="0.25s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                    </rect>
                    <rect x="120" y="10" width="15" height="120" rx="6">
                        <animate attributeName="height"
                             begin="0.5s" dur="1s"
                             values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                             repeatCount="indefinite" />
                        <animate attributeName="y"
                             begin="0.5s" dur="1s"
                             values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                             repeatCount="indefinite" />
                    </rect>
                </svg>
            </button>
                </div>
            </form>
        </div>

        <!-- account content -->
        <div class="col-span-9 shadow rounded px-6 pt-5 pb-7 mt-6 lg:mt-0" x-show="tabIndex == 3">
            <form action="#" method="post" x-ref="chPwdForm" x-on:submit="e => submitChangePassword(e, $refs.chPwdForm)" class="">
                {% csrf_token %}
                <h3 class="text-lg font-medium capitalize mb-4">
                    Changer de mot de passe
                </h3>
                <div class="space-y-4">
                    <div>
                        <label class="text-gray-600 mb-2 block">
                            Mot de passe actuelle
                </label>
                        <div class="relative">
                            <span class="absolute right-3 top-3 text-sm text-gray-500 cursor-pointer">
                        <i class="far fa-eye-slash"></i>
                    </span>
                            <input type="password" name="password" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" placeholder="Entrez votre mot de passe">
                        </div>
                    </div>
                    <div>
                        <label class="text-gray-600 mb-2 block">
                    Nouveau mot de passe
                </label>
                        <div class="relative">
                            <span class="absolute right-3 top-3 text-sm text-gray-500 cursor-pointer">
                        <i class="far fa-eye-slash"></i>
                    </span>
                            <input type="password" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="new_password" placeholder="Entrez le nouveau mot de passe">
                        </div>
                    </div>
                    <div>
                        <label class="text-gray-600 mb-2 block">
                    Confirmer le mot de passe
                </label>
                        <div class="relative">
                            <span class="absolute right-3 top-3 text-sm text-gray-500 cursor-pointer">
                        <i class="far fa-eye-slash"></i>
                    </span>
                            <input type="password" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="password_confirmation" placeholder="Re-entrez le nouveau mot de passe">
                        </div>
                    </div>
                </div>
                <div class="mt-6">
                    <button type="submit" class="px-6 py-2 text-center text-white bg-primary border border-primary rounded transition uppercase font-roboto font-medium">
                        <span x-show="!changePasswordLoading">Enregistrer</span>
                        <svg x-show="changePasswordLoading" class="h-6 w-10 fill-current text-white" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                            <rect y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.5s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.5s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="30" y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.25s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.25s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="60" width="15" height="140" rx="6">
                                <animate attributeName="height"
                                     begin="0s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="90" y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.25s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.25s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="120" y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.5s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.5s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                        </svg>
            </button>
                </div>
            </form>
        </div>
        <!-- account content end -->

        <!-- account content -->
        <div class="col-span-9 shadow rounded px-6 pt-5 pb-7 mt-6 lg:mt-0" x-show="tabIndex == 1">
            <form action="#" x-ref="addressForm" method="post" @submit="e => submitChangeAddress(e, $refs.addressForm)">
                {% csrf_token %}
                <h3 class="text-lg font-medium capitalize mb-4">
                    Votre adresse/localité (utile pour les livraison)
                </h3>
                <div class="space-y-4">
                    <!-- Form row -->
                    <div class="grid sm:grid-cols-2 gap-4">
                        <!-- Single input -->
                        <div>
                            <label class="text-gray-600 mb-2 block">
                        Pays
                    </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="country" placeholder="Pays" value="{{ address.country }}">
                        </div>
                        <!-- single input end -->
                        <!-- single input -->
                        <div>
                            <label class="text-gray-600 mb-2 block">
                        Ville
                    </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="city" value="{{ address.city }}">
                        </div>
                        <!-- Single input end -->
                    </div>
                    <div class="grid sm:grid-cols-2 gap-4">
                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Commune
                            </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="common" value="{{ address.common }}">
                        </div>

                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Quartier
                            </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="quarter" value="{{ address.quarter }}">
                        </div>
                    </div>

                    <div class="grid sm:grid-cols-2 gap-4">
                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Rue et porte
                            </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="streetDoor" value="{{ address.street_door }}">
                        </div>

                        <div>
                            <label class="text-gray-600 mb-2 block">
                                Code postal (Optionel)
                            </label>
                            <input type="text" class="w-full block border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" name="zipcode" value="{{ address.zipcode }}">
                        </div>
                    </div>

                </div>
                <div class="mt-6">
                    <button type="submit" class="px-6 py-2 text-center text-white bg-primary border border-primary rounded transition uppercase font-roboto font-medium">
                        <span x-show="!changeAddressLoading">Enregistrer</span>
                        <svg x-show="changeAddressLoading" class="h-6 w-10 fill-current text-white" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                            <rect y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.5s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.5s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="30" y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.25s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.25s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="60" width="15" height="140" rx="6">
                                <animate attributeName="height"
                                     begin="0s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="90" y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.25s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.25s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                            <rect x="120" y="10" width="15" height="120" rx="6">
                                <animate attributeName="height"
                                     begin="0.5s" dur="1s"
                                     values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                                     repeatCount="indefinite" />
                                <animate attributeName="y"
                                     begin="0.5s" dur="1s"
                                     values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                                     repeatCount="indefinite" />
                            </rect>
                        </svg>
                        
            </button>
                </div>
            </form>
        </div>
        <!-- account content end -->
    </div>

</div>

<script defer>
    let data = () => {
        return {
            tabIndex: 0,
            changePasswordLoading: false,
            changeAddressLoading: false,
            changeprofilInfoLoading: false,
            changePaymentMethodLoading: false,
            submitChangePassword: function(e, form) {
                e.preventDefault()
                notyf = new window.Notyf()
                this.changePasswordLoading = true
                const fD = new FormData(form)
                axios.post("/api/account/change-password", fD).then(({
                    data
                }) => {
                    if (data.isOk == true) {
                        notyf.success('Terminé')
                    } else if (data.error_type == "password-invalid") {
                        notyf.error('Le mot de passe actuel est incorrecte')
                    } else if (data.error_type == "fields-invalid") {
                        notyf.error('Echec, vérifiez les champs')
                    } else {
                        notyf.error('L\opération à échouée')
                    }
                }).catch(err => {
                    console.log(err);
                    notyf.error('Une erreur s\'est produite')
                }).finally(() => {
                    this.changePasswordLoading = false
                })
            },
            submitChangeAddress: function(e, form) {
                e.preventDefault()
                notyf = new window.Notyf()
                this.changeAddressLoading = true
                const fD = new FormData(form)
                axios.post("/api/account/change-addresses-info", fD).then(({
                    data
                }) => {
                    if (data.isOk == true) {
                        notyf.success('Terminé')
                    } else {
                        notyf.error('L\opération à échouée')
                    }
                }).catch(err => {
                    console.log(err);
                    notyf.error('Une erreur s\'est produite')
                }).finally(() => {
                    this.changeAddressLoading = false
                })
            },
            submitChangeprofilInfo: function(e, form) {
                e.preventDefault()
                notyf = new window.Notyf()
                this.changeprofilInfoLoading = true
                const fD = new FormData(form)
                axios.post("/api/account/change-profil-info", fD).then(({
                    data
                }) => {
                    if (data.isOk == true) {
                        notyf.success('Terminé')
                    } else {
                        notyf.error('L\opération à échouée')
                    }
                }).catch(err => {
                    console.log(err);
                }).finally(() => {
                    this.changeprofilInfoLoading = false
                })
            },
            submitChangePaymentMethod: function(e, form) {
                e.preventDefault()
                notyf = new window.Notyf()
                this.changePaymentMethodLoading = true
                const fD = new FormData(form)
                axios.post("/api/account/change-payment-info", fD).then(({
                    data
                }) => {
                    console.log(data);
                }).catch(err => {
                    console.log(err);
                }).finally(() => {
                    this.changePaymentMethodLoading = false
                })
            },


        }
    }
</script>
{% endblock content %}