{% extends 'store/layout/base.html' %} {% load static %} {% block titre %} Accueil {% endblock titre %} {% block content %}

<!-- shop wrapper -->
<div class="container items-start relative mt-4 mb-6">


    <!-- products -->
    <div class="col-span-3">
        <!-- sorting -->
        <div class="mb-4 w-full flex items-center justify-center gap-3">
            <button class="bg-primary border border-primary text-white px-10 py-3 font-medium rounded uppercase hover:bg-transparent hover:text-primary transition lg:hidden text-sm mr-3 focus:outline-none">
                Filter
                </button>
            <select class="w-44 text-sm text-gray-600 px-4 py-3 border-gray-300 shadow-sm rounded focus:ring-primary focus:border-primary">
                    <option>Derniers produits</option>
                    <option>A-Z</option>
                    <option>Populaire</option>
                    <option>Prix bas</option>
                    <option>Prix élévé</option>
                </select>
            <h3 class="text-lg text-gray-800 font-medium">Prix</h3>
            <div class="">
                <div class="flex items-center w-60">
                    <input type="text" class="w-full border-gray-300 focus:ring-0 focus:border-primary px-3 py-1 text-gray-600 text-sm shadow-sm rounded" placeholder="min">
                    <span class="mx-3 text-gray-500">-</span>
                    <input type="text" class="w-full border-gray-300 focus:ring-0 focus:border-primary px-3 py-1 text-gray-600 text-sm shadow-sm rounded" placeholder="max">
                </div>
            </div>
            <!-- price filter end -->
            <button class="block p-1 mx-2 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
                    Appliquer
                </button>
        </div>
        <!-- sorting end -->
        <!-- product wrapper -->
        <div class="flex flex-wrap gap-4">
            {% for product in products %}
            <!-- single product -->
            <div class="group rounded bg-white shadow-lg border border-gray-400 w-64 overflow-hidden">
                <!-- product image -->
                <div class="relative">
                    <img src="{{product.image1.url}}" class="w-full h-52 pt-2 object-contain shadow">
                    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                        <a href="/categories/{{product.category.slug}}/{{product.slug}}" class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                            <i class="fas fa-search"></i>
                        </a>
                        <button href="#" class="text-white text-lg w-9 h-9 rounded-full bg-primary hover:bg-gray-800 transition flex items-center justify-center">
                            <i class="far fa-heart"></i>
                        </button>
                    </div>
                </div>
                <!-- product image end -->
                <!-- product content -->
                <div class="pt-4 pb-3 px-4">
                    <a href="/categories/{{product.category.slug}}/{{product.slug}}">
                        <h4 class="text-xl mb-2 text-gray-800 hover:text-primary transition">
                            {{product.label}}
                        </h4>
                    </a>
                    <div class="flex flex-col items-baseline mb-1 space-y-2">
                        <p class="text-xl text-primary font-roboto font-semibold">{{product.price}} Fcfa</p>
                        <p class="text-gray-800 font-semibold">
                            {% if product.stock > 0 %}
                            <span>En stock: </span>
                            <span class="text-green-600">{{product.stock}}</span> {% else %}
                            <span class="text-green-600">Stock épuisé</span> {% endif %}

                        </p>
                    </div>
                    {% comment %}
                    <div class="flex items-center">
                        <div class="flex gap-1 text-sm text-yellow-400">
                            <span:key="n"><i class="fas fa-star"></i></span>
                                <span:key="n"><i class="fas fa-star"></i></span>
                                    <span:key="n"><i class="fas fa-star"></i></span>
                                        <span:key="n"><i class="fas fa-star"></i></span>
                                            <span:key="n"><i class="fas fa-star"></i></span>
                        </div>
                        <div class="text-xs text-gray-500 ml-3">(150)</div>
                    </div> {% endcomment %}
                </div>
                <!-- product content end -->
                <!-- product button -->
                <a href="#" class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">
                    Ajouter au panier
                </a>
                <!-- product button end -->
            </div>
            <!-- single product end -->
            {% empty %} Aucun produit {% endfor %}
        </div>
        <!-- product wrapper end -->
    </div>
    <!-- products end -->
</div>
<!-- shop wrapper end -->
{% endblock content %}