{% extends 'store/layout/base.html' %} {% load static %} {% block titre %} Accueil {% endblock titre %} {% block content %}

<!-- shop wrapper -->
<div class="items-start relative mt-28">
    <div class="w-full mt-8">
        <div class="px-4 sm:px-0 sm:container -translate-y-32">
            <h1 class="w-full text-center text-2xl md:text-3xl my-2 font-roboto">Les nouvautés</h1>
            <svg id="new-products-loader" class="h-8 w-12 my-4 mx-auto flex fill-current text-gray-800" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                <rect y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.5s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.5s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="30" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.25s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.25s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="60" width="15" height="140" rx="6">
                    <animate attributeName="height"
                         begin="0s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="90" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.25s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.25s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="120" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.5s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.5s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
            </svg>
            <div class="invisible h-0 glide-new-products relative">
                <div data-glide-el="controls">
                    <button data-glide-dir="<" type="button" class="flex absolute top-1/2 -translate-y-1/2 left-0 z-30 justify-center items-center px-4 h-5 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neutral-800 text-gray-400 hover:text-white">
                            <svg class="w-5 h-5 fill-current sm:w-6 sm:h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z"></path></svg>
                        </span>
                    </button>
                    <button data-glide-dir=">" type="button" class="flex absolute top-1/2 -translate-y-1/2 right-0 z-30 justify-center items-center px-4 h-5 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neutral-800 text-gray-400 hover:text-white">
                            <svg class="w-5 h-5 fill-current sm:w-6 sm:h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.41z"></path></svg>
                        </span>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for product in products %}
                        <li class="glide__slide">
                            <!-- single product -->
                            <div class="rounded bg-white hover:shadow-lg border border-gray-400 w-64 p-3 hover:-translate-y-1 transition overflow-hidden mx-auto">
                                <!-- product image -->
                                <a href="/categories/{{product.category.slug}}/{{product.slug}}" class="relative group">
                                    <img src="{{product.image1.url}}" class="w-full h-52 pt-2 object-contain">
                                    <h4 class="text-lg text-gray-800 font-poppins text-center p-2 w-full group-hover:text-orange-600 transition">
                                        {{product.label}}
                                    </h4>

                                </a>
                                <p class="text-gray-800 font-poppins text-center px-1 w-full">
                                    {% if product.stock > 0 %}
                                    <span>En stock: </span>
                                    <span class="text-green-700">{{product.stock}}</span> {% else %}
                                    <span>Stock: <span class="text-red-700">épuisé</span></span> {% endif %}

                                </p>
                                <div class="flex items-end justify-between">
                                    <p class="text-lg font-poppins"><span class="font-mono text-gray-900 italic">{{product.price}}</span ><span class="text-gray-500"> fcfa</span></p>
                                    <button @click="addToCart({{product.id}})" class="text-center text-white bg-green-600 border border-green-600 rounded-b p-1 transition group">
                                <svg class="group-hover:hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="10" cy="28" r="2" fill="currentColor"></circle><circle cx="24" cy="28" r="2" fill="currentColor"></circle><path fill="currentColor" d="M28 7H5.82L5 2.8A1 1 0 0 0 4 2H0v2h3.18L7 23.2a1 1 0 0 0 1 .8h18v-2H8.82L8 18h18a1 1 0 0 0 1-.78l2-9A1 1 0 0 0 28 7Zm-2.8 9H7.62l-1.4-7h20.53Z"></path></svg>
                                <svg class="hidden group-hover:block h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="10" cy="28" r="2" fill="currentColor"></circle><circle cx="24" cy="28" r="2" fill="currentColor"></circle><path fill="currentColor" d="M4.98 2.804A1 1 0 0 0 4 2H0v2h3.18l3.84 19.196A1 1 0 0 0 8 24h18v-2H8.82l-.8-4H26a1 1 0 0 0 .976-.783L29.244 7h-2.047l-1.999 9H7.62Z"></path><path fill="currentColor" d="M18 6V2h-2v4h-4v2h4v4h2V8h4V6h-4z"></path></svg>
                            </button>
                                </div>

                                <!-- product button end -->
                            </div>
                            <!-- single product end -->
                        </li>
                        {% empty %} Aucun produit {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- products -->
    <div class="w-full mt-8 bg-neutral-200" style="height: 460px;">

        <div class="container -translate-y-32">
            <h1 class="w-full text-center text-2xl md:text-3xl my-2 font-roboto">Meilleurs ventes</h1>
            <svg id="most-sold-loader" class="h-8 w-12 my-4 mx-auto flex fill-current text-gray-800" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                <rect y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.5s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.5s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="30" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.25s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.25s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="60" width="15" height="140" rx="6">
                    <animate attributeName="height"
                         begin="0s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="90" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.25s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.25s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="120" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.5s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.5s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
            </svg>
            <div class="invisible h-0 glide-most-sold">
                <div data-glide-el="controls">
                    <button data-glide-dir="<" type="button" class="flex absolute top-1/2 -translate-y-1/2 left-0 z-30 justify-center items-center px-4 h-5 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neutral-800 text-gray-400 hover:text-white">
                            <svg class="w-5 h-5 fill-current sm:w-6 sm:h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z"></path></svg>
                        </span>
                                        </button>
                    <button data-glide-dir=">" type="button" class="flex absolute top-1/2 -translate-y-1/2 right-0 z-30 justify-center items-center px-4 h-5 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neutral-800 text-gray-400 hover:text-white">
                            <svg class="w-5 h-5 fill-current sm:w-6 sm:h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.41z"></path></svg>
                        </span>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for product in products %}
                        <li class="glide__slide">
                            <!-- single product -->
                            <div class="rounded bg-white hover:shadow-lg border border-gray-400 w-64 p-3 hover:-translate-y-1 transition overflow-hidden mx-auto">
                                <!-- product image -->
                                <a href="/categories/{{product.category.slug}}/{{product.slug}}" class="relative group">
                                    <img src="{{product.image1.url}}" class="w-full h-52 pt-2 object-contain">
                                    <h4 class="text-lg text-gray-800 font-poppins text-center p-2 w-full group-hover:text-orange-600 transition">
                                        {{product.label}}
                                    </h4>

                                </a>
                                <p class="text-gray-800 font-poppins text-center px-1 w-full">
                                    {% if product.stock > 0 %}
                                    <span>En stock: </span>
                                    <span class="text-green-700">{{product.stock}}</span> {% else %}
                                    <span>Stock: <span class="text-red-700">épuisé</span></span> {% endif %}

                                </p>
                                <div class="flex items-end justify-between">
                                    <p class="text-lg font-poppins"><span class="font-mono text-gray-900 italic">{>class {product.price}}</span  cfa</span>="text-gray-500">f
                                        <span</p>
                                            <button @click="addToCart({{product.id}})" class="text-center text-white bg-green-600 border border-green-600 rounded-b p-1 transition group">
                                <svg class="group-hover:hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="10" cy="28" r="2" fill="currentColor"></circle><circle cx="24" cy="28" r="2" fill="currentColor"></circle><path fill="currentColor" d="M28 7H5.82L5 2.8A1 1 0 0 0 4 2H0v2h3.18L7 23.2a1 1 0 0 0 1 .8h18v-2H8.82L8 18h18a1 1 0 0 0 1-.78l2-9A1 1 0 0 0 28 7Zm-2.8 9H7.62l-1.4-7h20.53Z"></path></svg>
                                <svg class="hidden group-hover:block h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="10" cy="28" r="2" fill="currentColor"></circle><circle cx="24" cy="28" r="2" fill="currentColor"></circle><path fill="currentColor" d="M4.98 2.804A1 1 0 0 0 4 2H0v2h3.18l3.84 19.196A1 1 0 0 0 8 24h18v-2H8.82l-.8-4H26a1 1 0 0 0 .976-.783L29.244 7h-2.047l-1.999 9H7.62Z"></path><path fill="currentColor" d="M18 6V2h-2v4h-4v2h4v4h2V8h4V6h-4z"></path></svg>
                            </button>
                                </div>

                                <!-- product button end -->
                            </div>
                            <!-- single product end -->
                        </li>
                        {% empty %} Aucun produit {% endfor %}
                    </ul>
                </div>
            </div>
            <a href="/produits" class="rounded text-white translate-y-1 my-4 mx-auto inline-block bg-orange-600 hover:bg-orange-700 transition p-2">Tout voir</a>
            <!-- product wrapper end -->
        </div>
    </div>
    <div class="w-full" style="height: 340px;">

        <div class="container -translate-y-32">
            <h1 class="w-full text-center text-2xl md:text-3xl my-2 font-roboto">Les plus populaire</h1>
            <svg id="most-popular-loader" class="h-8 w-12 my-4 mx-auto flex fill-current text-gray-800" viewBox="0 0 135 140" xmlns="http://www.w3.org/2000/svg" fill="#fff">
                <rect y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.5s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.5s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="30" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.25s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.25s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="60" width="15" height="140" rx="6">
                    <animate attributeName="height"
                         begin="0s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="90" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.25s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.25s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
                <rect x="120" y="10" width="15" height="120" rx="6">
                    <animate attributeName="height"
                         begin="0.5s" dur="1s"
                         values="120;110;100;90;80;70;60;50;40;140;120" calcMode="linear"
                         repeatCount="indefinite" />
                    <animate attributeName="y"
                         begin="0.5s" dur="1s"
                         values="10;15;20;25;30;35;40;45;50;0;10" calcMode="linear"
                         repeatCount="indefinite" />
                </rect>
            </svg>
            <div class="invisible h-0 glide-most-popular">
                <div data-glide-el="controls">
                    <button data-glide-dir="<" type="button" class="flex absolute top-1/2 -translate-y-1/2 left-0 z-30 justify-center items-center px-4 h-5 cursor-pointer group focus:outline-none" data-carousel-prev>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neutral-800 text-gray-400 hover:text-white">
                            <svg class="w-5 h-5 fill-current sm:w-6 sm:h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z"></path></svg>
                        </span>
                                                        </button>
                    <button data-glide-dir=">" type="button" class="flex absolute top-1/2 -translate-y-1/2 right-0 z-30 justify-center items-center px-4 h-5 cursor-pointer group focus:outline-none" data-carousel-next>
                        <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-neutral-800 text-gray-400 hover:text-white">
                            <svg class="w-5 h-5 fill-current sm:w-6 sm:h-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.41z"></path></svg>
                        </span>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for product in products %}
                        <li class="glide__slide">
                            <!-- single product -->
                            <div class="rounded bg-white hover:shadow-lg border border-gray-400 w-64 p-3 hover:-translate-y-1 transition overflow-hidden mx-auto">
                                <!-- product image -->
                                <a href="/categories/{{product.category.slug}}/{{product.slug}}" class="relative group">
                                    <img src="{{product.image1.url}}" class="w-full h-52 pt-2 object-contain">
                                    <h4 class="text-lg text-gray-800 font-poppins text-center p-2 w-full group-hover:text-orange-600 transition">
                                        {{product.label}}
                                    </h4>

                                </a>
                                <p class="text-gray-800 font-poppins text-center px-1 w-full">
                                    {% if product.stock > 0 %}
                                    <span>En stock: </span>
                                    <span class="text-green-700">{{product.stock}}</span> {% else %}
                                    <span>Stock: <span class="text-red-700">épuisé</span></span> {% endif %}

                                </p>
                                <div class="flex items-end justify-between">
                                    <p class="text-lg font-poppins"><span>ray-9 class="font-mono text- gcfa</span>00 italic">{{product.price}}</span class="text-gray-500">f
                                        <span</p>
                                            <button @click="addToCart({{product.id}})" class="text-center text-white bg-green-600 border border-green-600 rounded-b p-1 transition group">
                                <svg class="group-hover:hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="10" cy="28" r="2" fill="currentColor"></circle><circle cx="24" cy="28" r="2" fill="currentColor"></circle><path fill="currentColor" d="M28 7H5.82L5 2.8A1 1 0 0 0 4 2H0v2h3.18L7 23.2a1 1 0 0 0 1 .8h18v-2H8.82L8 18h18a1 1 0 0 0 1-.78l2-9A1 1 0 0 0 28 7Zm-2.8 9H7.62l-1.4-7h20.53Z"></path></svg>
                                <svg class="hidden group-hover:block h-6 w-6" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><circle cx="10" cy="28" r="2" fill="currentColor"></circle><circle cx="24" cy="28" r="2" fill="currentColor"></circle><path fill="currentColor" d="M4.98 2.804A1 1 0 0 0 4 2H0v2h3.18l3.84 19.196A1 1 0 0 0 8 24h18v-2H8.82l-.8-4H26a1 1 0 0 0 .976-.783L29.244 7h-2.047l-1.999 9H7.62Z"></path><path fill="currentColor" d="M18 6V2h-2v4h-4v2h4v4h2V8h4V6h-4z"></path></svg>
                            </button>
                                </div>

                                <!-- product button end -->
                            </div>
                            <!-- single product end -->
                        </li>
                        {% empty %} Aucun produit {% endfor %}
                    </ul>
                </div>
            </div>
            <a href="/produits" class="rounded text-white my-4 mx-auto inline-block translate-y-1 bg-orange-600 hover:bg-orange-700 transition p-2">Tout voir</a>

        </div>
    </div>
    <div class="w-full bg-white">

        <div class="container flex flex-col items-center">
            <div class="container py-8">
                <h1 class="w-full text-center text-2xl md:text-3xl my-2 font-roboto">Catégories</h1>
                <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-3">
                    <!-- single category -->
                    {% for category in categories %}
                    <div class="relative group rounded-sm overflow-hidden">
                        <img src="{{ category.image.url }}" class="group-hover:scale-125 transition w-full object-fill">
                        <a href="/categories/{{ category.slug }}" class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 flex items-center justify-center text-xl text-white 
                            font-roboto font-medium tracking-wide transition">
                            {{ category.label }}
                        </a>
                    </div>
                    {% empty %} Aucune Categorie {% endfor %}
                    <!-- single category end -->
                </div>
                <!-- product wrapper end -->
            </div>
        </div>
    </div>

    <!-- products end -->
</div>

{% endblock content %}