{% extends 'store/layout/base.html' %}
<!-- TODO: Add layout -->
{% block titre %} Connexion {% endblock titre %} {% block contentAlone %}
<div
  class="flex min-h-screen w-screen bg-gray-200 flex-1 flex-col justify-center py-12 sm:px-6 lg:px-8"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img
      alt="Your Company"
      src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
      class="mx-auto h-10 w-auto"
    />
    <h2
      class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900"
    >
      Connexion
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      {% if error %}
      <div
        class="mb-4 p-4 text-sm text-red-800 rounded-lg bg-red-50"
        role="alert"
      >
        {{ error }}
      </div>
      {% endif %}

      <form method="POST" action="/connexion/" class="space-y-6">
        {% csrf_token %}
        <div>
          <label for="login" class="block text-sm/6 font-medium text-gray-900">
            Email
          </label>
          <div class="mt-2">
            <input
              id="login"
              name="login"
              type="text"
              required
              autocomplete="email"
              value="{{ email }}"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <div>
          <label
            for="password"
            class="block text-sm/6 font-medium text-gray-900"
          >
            Mot de passe
          </label>
          <div class="mt-2">
            <input
              id="password"
              name="password"
              type="password"
              required
              autocomplete="current-password"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="size-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
            />
            <label for="remember-me" class="ml-3 block text-sm/6 text-gray-900">
              Se souvenir de moi
            </label>
          </div>

          <div class="text-sm/6">
            <a
              href="#"
              class="font-semibold text-indigo-600 hover:text-indigo-500"
            >
              Mot de passe oublié ?
            </a>
          </div>
        </div>

        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Se connecter
          </button>
        </div>
      </form>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div
            class="relative flex justify-center text-sm font-medium leading-6"
          >
            <span class="bg-white px-6 text-gray-900">Pas de compte ?</span>
          </div>
        </div>

        <div class="mt-6 text-center">
          <a
            href="/inscription"
            class="font-semibold text-indigo-600 hover:text-indigo-500"
          >
            S'inscrire
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contentAlone %}
