{% extends 'store/layout/base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block titre %} Validation de la commande {% endblock titre %}
<!--  -->
{% block content %}
<!--  -->
{% load mathfilters %}
<div class="p-4 container max-w-7xl mx-auto">
  <div
    x-show="orderedOverlay"
    x-cloak
    class="fixed top-0 left-0 w-screen h-screen z-30 bg-black bg-opacity-90 flex justify-center items-center flex-col"
  >
    <div @click="orderedOverlay = false" class="absolute h-full w-full"></div>
    <div class="flex flex-col justify-center items-center z-50 text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true"
        role="img"
        class="w-20 h-20 p-4 border border-white my-2 fill-current rounded-full"
        width="32"
        height="32"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M17.3 6.3a.996.996 0 0 0-1.41 0l-5.64 5.64l1.41 1.41L17.3 7.7c.38-.38.38-1.02 0-1.4zm4.24-.01l-9.88 9.88l-3.48-3.47a.996.996 0 1 0-1.41 1.41l4.18 4.18c.39.39 1.02.39 1.41 0L22.95 7.71a.996.996 0 0 0 0-1.41h-.01a.975.975 0 0 0-1.4-.01zM1.12 14.12L5.3 18.3c.39.39 1.02.39 1.41 0l.7-.7l-4.88-4.9a.996.996 0 0 0-1.41 0c-.39.39-.39 1.03 0 1.42z"
        ></path>
      </svg>
      <p class="text-4xl my-3">Votre panier à été commandée !</p>
      <p class="text-xl my-2">Nous vous contacteront dans peu de temps.</p>
      <a href="/produits" class="bg-blue-600 rounded-md px-5 py-2 m-2"
        >Voir d'autre produits</a
      >
      <a href="/" class="text-blue-600 font-bold">Continuer</a>
    </div>
  </div>

  <!-- cart wrapper -->
  <div class="container lg:grid grid-cols-12 gap-6 items-start pb-16 pt-4">
    <div class="xl:col-span-9 lg:col-span-8 bg-white rounded">
      <div class="bg-gray-200 py-2 pl-12 pr-20 xl:pr-28 hidden md:flex">
        <p class="text-gray-600 text-center">Produit</p>
        <!-- <p class="text-gray-600 text-center ml-auto mr-16 xl:mr-24">Quantité</p> -->
        <p class="text-gray-600 text-center ml-auto">Totale</p>
      </div>

      <div class="space-y-4">
        {% for the_cart in cart %}

        <div
          class="flex items-center md:justify-between gap-4 md:gap-6 p-4 border border-gray-200 rounded flex-wrap md:flex-nowrap"
        >
          <!-- cart image -->
          <div class="w-32 flex-shrink-0">
            <img
              src="{{the_cart.product.image1}}"
              class="w-32 h-32 object-contain"
            />
          </div>

          <div class="md:w-1/3 w-full">
            <h2
              class="text-gray-800 mb-3 xl:text-xl textl-lg font-medium uppercase"
            >
              {{the_cart.product.label}}
            </h2>
            <p class="text-primary font-semibold">
              {{the_cart.product.price_formatted}} Fcfa
            </p>
          </div>

          <!-- <div
            class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300"
          >
            <div
              class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
            >
              -
            </div>
            <div class="h-8 w-10 flex items-center justify-center">
              {{the_cart.quantity}}
            </div>
            <div
              class="h-8 w-8 text-xl flex items-center justify-center cursor-pointer select-none"
            >
              +
            </div>
          </div> -->

          <div class="">
            <p class="text-primary text-lg font-semibold">
              {{the_cart.product.price|mul:the_cart.quantity}} Fcfa
            </p>
          </div>
          <div class="text-gray-600 hover:text-primary cursor-pointer">
            <i class="fas fa-trash"></i>
          </div>
        </div>
        <!-- single cart end -->
        {% endfor %}
      </div>
      <!-- shipping carts end -->
    </div>
    <!-- product cart end -->
    <!-- order summary -->
    <div
      class="xl:col-span-3 lg:col-span-4 bg-white border border-gray-200 px-4 pb-4 rounded mt-6 lg:mt-0"
    >
      <!-- <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">
        Résumé de la commande
      </h4> -->
      <div class="text-gray-600 pb-3">
        <!-- <div class="flex justify-between font-medium">
          <p>Sous-total</p>
          <p>{{ cartSum }}</p>
        </div> -->
        <!-- <div class="flex justify-between">
          <p>Livraison</p>
          <p>Gratuit</p>
        </div> -->
      </div>
      <div
        class="flex justify-between my-3 text-gray-800 font-semibold uppercase"
      >
        <h4>Total</h4>
        <h4>{{ cartSum }}</h4>
      </div>

      <!-- checkout -->
      <button
        @click="Order()"
        class="bg-primary border border-primary text-white px-4 py-3 font-medium rounded-md uppercase hover:bg-transparent hover:text-primary transition text-sm w-full block text-center"
      >
        Commander
      </button>
      <!-- checkout end -->
      <div
        class="flex items-center justify-start mt-2 bg-gray-50 p-2 shadow rounded border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="h-10 w-10 mr-auto fill-current text-green-700"
          width="32"
          height="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M22 3H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3s-3-1.34-3-3s1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm3.85-4h1.39c.16 0 .3.07.4.2l1.1 1.45c.15.2.13.48-.05.65l-1.36 1.36c-.18.18-.48.2-.67.04a7.557 7.557 0 0 1-2.38-3.71a7.248 7.248 0 0 1 0-3.99a7.513 7.513 0 0 1 2.38-3.71c.2-.17.49-.14.67.04l1.36 1.36c.18.18.2.46.05.65l-1.1 1.45a.48.48 0 0 1-.4.2h-1.39c-.22.63-.35 1.3-.35 2s.13 1.38.35 2.01z"
          ></path>
        </svg>

        {% if user.phone %}
        <p class="text-sm text-gray-700 p-2">Mon numéro : {{ user.phone }}</p>
        {% else %}
        <span class="text-red-600 py-1 px-2 text-center"
          >Veuillez ajoutez votre numéro</span
        >
        {% endif %}
        <a
          href="/mon-compte?tab=profil"
          class="px-4 py-1 text-neutral-900 hover:text-white rounded bg-white border border-neutral-700 hover:bg-neutral-700 transition my-1 ml-auto"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="h-4 w-4"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="m16.757 3l-2 2H5v14h14V9.243l2-2V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12.757zm3.728-.9L21.9 3.516l-9.192 9.192l-1.412.003l-.002-1.417L20.485 2.1z"
            ></path></svg
        ></a>
      </div>
      <div
        class="flex items-center justify-start bg-gray-50 p-2 shadow rounded border"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          role="img"
          class="h-10 w-10 mr-auto fill-current text-blue-700"
          width="36"
          height="32"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 576 512"
        >
          <path
            fill="currentColor"
            d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96c0-35.35-28.7-64-64-64zm-336 96c35.35 0 64 28.65 64 64s-28.65 64-64 64s-64-28.65-64-64s28.7-64 64-64zm96 256H80c-8.84 0-16-7.2-16-16c0-44.2 35.82-80 80-80h64c44.18 0 80 35.82 80 80c0 8.8-7.2 16-16 16zm224-64H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h128c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0-64H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h128c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0-64H368c-8.8 0-16-7.2-16-16s7.2-16 16-16h128c8.8 0 16 7.2 16 16s-7.2 16-16 16z"
          ></path>
        </svg>
        {% if address %}
        <p class="text-sm text-gray-700 p-2">
          {{address.street_door}} {{address.quarter}} {{address.city}}
          {{address.country}}
        </p>
        {% else %}
        <span class="text-red-600 py-1 px-2 text-center"
          >Veuillez configurer vos adresses</span
        >
        {% endif %}
        <a
          href="/mon-compte?tab=adresses"
          class="px-4 py-1 text-neutral-900 hover:text-white rounded bg-white border border-neutral-700 hover:bg-neutral-700 transition my-1 mr-auto"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="h-4 w-4"
            width="32"
            height="32"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="m16.757 3l-2 2H5v14h14V9.243l2-2V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12.757zm3.728-.9L21.9 3.516l-9.192 9.192l-1.412.003l-.002-1.417L20.485 2.1z"
            ></path></svg
        ></a>
      </div>
    </div>
    <!-- order summary end -->
  </div>
  <!-- cart wrapper end -->
</div>

{% endblock content %}
