{% extends 'store/layout/base.html' %}
<!--  -->
{% block content %}
<main class="mx-auto max-w-7xl sm:px-6 sm:pt-16 lg:px-8">
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <!-- Product -->
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8">
      <!-- Image gallery -->
      <div x-data="{ activeImage: 0 }" class="flex flex-col-reverse">
        <!-- Image selector -->
        <div
          class="mx-auto mt-6 hidden w-full max-w-2xl sm:block lg:max-w-none"
        >
          <div class="grid grid-cols-4 gap-6">
            {% if product.image1 %}
            <button
              @click="activeImage = 0"
              class="group relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-indigo-500/50 focus:ring-offset-4"
              :class="{ 'ring-2 ring-indigo-500': activeImage === 0 }"
            >
              <span class="absolute inset-0 overflow-hidden rounded-md">
                <img
                  src="{{ product.image1.url }}"
                  alt=""
                  class="h-full w-full object-cover"
                />
              </span>
            </button>
            {% endif %} {% if product.image2 %}
            <button
              @click="activeImage = 1"
              class="group relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none focus:ring focus:ring-indigo-500/50 focus:ring-offset-4"
              :class="{ 'ring-2 ring-indigo-500': activeImage === 1 }"
            >
              <span class="absolute inset-0 overflow-hidden rounded-md">
                <img
                  src="{{ product.image2.url }}"
                  alt=""
                  class="h-full w-full object-cover"
                />
              </span>
            </button>
            {% endif %} {% if product.image3 %}
            <!-- Similar buttons for image3 and image4 -->
            {% endif %}
          </div>
        </div>

        <!-- Main image display -->
        <div>
          <div x-show="activeImage === 0">
            <img
              src="{{ product.image1.url }}"
              alt="{{ product.name }}"
              class="aspect-square w-full object-cover sm:rounded-lg"
            />
          </div>
          {% if product.image2 %}
          <div x-show="activeImage === 1">
            <img
              src="{{ product.image2.url }}"
              alt="{{ product.name }}"
              class="aspect-square w-full object-cover sm:rounded-lg"
            />
          </div>
          {% endif %}
          <!-- Similar panels for image3 and image4 -->
        </div>
      </div>

      <!-- Product info -->
      <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900">
          {{ product.name }}
        </h1>

        <div class="mt-3">
          <h2 class="sr-only">Product information</h2>
          <p class="text-3xl tracking-tight text-gray-900">
            {{ product.price }} Fcfa
          </p>
        </div>

        <!-- Reviews -->
        {% if product.rating %}
        <div class="mt-3">
          <h3 class="sr-only">Reviews</h3>
          <div class="flex items-center">
            <div class="flex items-center">
              {% for i in "12345"|make_list %}
              <svg
                class="{% if forloop.counter <= product.rating %}text-indigo-500{% else %}text-gray-300{% endif %} h-5 w-5 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                  clip-rule="evenodd"
                />
              </svg>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="mt-6">
          <h3 class="sr-only">Description</h3>
          <div class="space-y-6 text-base text-gray-700">
            {{ product.description|safe }}
          </div>
        </div>

        <!-- Add to cart form -->
        <div method="POST" class="mt-6">
          {% csrf_token %} {% if product.has_variants %}
          <!-- Variant selection (colors, sizes, etc.) -->
          <div>
            <h3 class="text-sm text-gray-600">Variants</h3>
            <select
              name="variant_id"
              class="mt-2 block w-full rounded-md border-gray-300"
            >
              {% for variant in product.variants.all %}
              <option value="{{ variant.id }}">
                {{ variant.name }} - {{ variant.price }} Fcfa
              </option>
              {% endfor %}
            </select>
          </div>
          {% endif %}

          <div class="mt-10 flex">
            <button
              type="button"
              @click="addToCart({{product.id}})"
              class="flex max-w-xs flex-1 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full"
            >
              Add to cart
            </button>

            {% if user.is_authenticated %}
            <button
              type="button"
              @click="addToFav({{product.id}})"
              class="ml-4 flex items-center justify-center rounded-md px-3 py-3 text-gray-400 hover:bg-gray-100 hover:text-gray-500"
            >
              <svg
                class="h-6 w-6 shrink-0"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>
              <span class="sr-only">Add to favorites</span>
            </button>
            {% endif %}
          </div>
        </div>

        <!-- Product details -->
        <section aria-labelledby="details-heading" class="mt-12">
          <h2 id="details-heading" class="sr-only">Additional details</h2>
          <div class="divide-y divide-gray-200 border-t">
            {% for detail in product.details.all %}
            <div x-data="{ open: false }" class="relative">
              <button
                @click="open = !open"
                class="group relative flex w-full items-center justify-between py-6 text-left"
              >
                <span
                  class="text-sm font-medium text-gray-900"
                  :class="{ 'text-indigo-600': open }"
                >
                  {{ detail.name }}
                </span>
                <span class="ml-6 flex items-center">
                  <svg
                    x-show="!open"
                    class="h-6 w-6 text-gray-400 group-hover:text-gray-500"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 4.5v15m7.5-7.5h-15"
                    />
                  </svg>
                  <svg
                    x-show="open"
                    class="h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19.5 12h-15"
                    />
                  </svg>
                </span>
              </button>
              <div x-show="open" class="pb-6">
                <ul
                  class="list-disc space-y-1 pl-5 text-sm/6 text-gray-700 marker:text-gray-300"
                >
                  {% for item in detail.items.all %}
                  <li class="pl-2">{{ item.text }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>

    <!-- Related products -->
    {% if related_products %}
    <section
      aria-labelledby="related-heading"
      class="mt-10 border-t border-gray-200 px-4 py-16 sm:px-0"
    >
      <h2 id="related-heading" class="text-xl font-bold text-gray-900">
        Customers also bought
      </h2>

      <div
        class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8"
      >
        {% for related in related_products %}
        <div>
          <div class="relative">
            <div class="relative h-72 w-full overflow-hidden rounded-lg">
              <img
                src="{{ related.image1.url }}"
                alt="{{ related.name }}"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="relative mt-4">
              <h3 class="text-sm font-medium text-gray-900">
                {{ related.name }}
              </h3>
              <p class="mt-1 text-sm text-gray-500">{{ related.category }}</p>
            </div>
            <div
              class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4"
            >
              <div
                aria-hidden="true"
                class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"
              ></div>
              <p class="relative text-lg font-semibold text-white">
                {{ related.price }} Fcfa
              </p>
            </div>
          </div>
          <div class="mt-6">
            <a
              href="{{ related.get_absolute_url }}"
              class="relative flex items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-2 text-sm font-medium text-gray-900 hover:bg-gray-200"
            >
              View Product<span class="sr-only">, {{ related.name }}</span>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}
  </div>
</main>
{% endblock %}
