@tailwind base;
@tailwind components;
@tailwind utilities;
*[x-cloak] {
    display: none !important;
}
*, *:focus, *:hover, *:focus-within{
    outline: none !important;
}
html{
    overflow-x: hidden;
}