{% load static %}

  <!-- features -->
  <div class="container pb-8">
    <div class="lg:w-10/12 grid md:grid-cols-3 gap-3 lg:gap-6 mx-auto justify-center">

        <!-- single feature -->
        <div
            class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="{% static 'images/icons/delivery-van.svg' %}" class="lg:w-12 w-10 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">free shipping</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Order over $200</p>
            </div>
        </div>
        <!-- single feature end -->
        <!-- single feature -->
        <div
            class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="{% static 'images/icons/money-back.svg' %}" class="lg:w-12 w-10 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Money returns</h4>
                <p class="text-gray-500 text-xs lg:text-sm">30 Days money return</p>
            </div>
        </div>
        <!-- single feature end -->
        <!-- single feature -->
        <div
            class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="{% static 'images/icons/service-hours.svg' %}" class="lg:w-12 w-10 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">24/7 Support</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Customer support</p>
            </div>
        </div>
        <!-- single feature end -->

    </div>
</div>
<!-- features end -->

<footer class="bg-white pt-16 pb-12 border-t border-gray-100">
    <div class="container">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <!-- footer text -->
            <div class="space-y-8 xl:col-span-1">
                <img class="w-52" src="https://banner2.cleanpng.com/20180601/ztb/kisspng-sneakers-boot-shoe-vans-new-balance-eshop-5b10cefd5fc602.7336802715278282213923.jpg" alt="Company name">
                <p class="text-gray-500 text-base">
                    Slogan ici
                </p>
                <div class="flex space-x-6">
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <!-- footer text end -->
            <!-- footer links -->
            <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            Solutions
                        </h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Marketing
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Analytics
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Commerce
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Insights
                            </a>
                        </div>
                    </div>
                    <div class="mt-12 md:mt-0">
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            Support
                        </h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Pricing
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Documentation
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Guides
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                API Status
                            </a>
                        </div>
                    </div>
                </div>
                <div class="md:grid md:grid-cols-2 md:gap-8">
                    <div>
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            Company
                        </h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                About
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Blog
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Jobs
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Press
                            </a>
                        </div>
                    </div>
                    <div class="mt-12 md:mt-0">
                        <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            Legal
                        </h3>
                        <div class="mt-4 space-y-4">
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Claim
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Privacy
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Policy
                            </a>
                            <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">
                                Terms
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer links end -->
        </div>
    </div>
</footer>
<div class="bg-gray-800 py-4">
    <div class="container flex items-center justify-between">
        <p class="text-white">© RAFCART - All Rights Reserved</p>
        <div>
            <img src="images/methods.png" class="h-5">
        </div>
    </div>
</div>