{% load static %}

  <!-- features -->
  {% comment %} <div class="container pb-8 flex flex-col sm:flex-row mt-auto">
    <div class="lg:w-10/12 grid md:grid-cols-3 gap-3 lg:gap-6 mx-auto justify-center">

        <!-- single feature -->
        <div
            class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="{% static 'images/icons/delivery-van.svg' %}" class="lg:w-12 w-10 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">free shipping</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Order over $200</p>
            </div>
        </div>
        <!-- single feature end -->
        <!-- single feature -->
        <div
            class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="{% static 'images/icons/money-back.svg' %}" class="lg:w-12 w-10 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">Money returns</h4>
                <p class="text-gray-500 text-xs lg:text-sm">30 Days money return</p>
            </div>
        </div>
        <!-- single feature end -->
        <!-- single feature -->
        <div
            class="border-primary border rounded-sm px-8 lg:px-3 lg:py-6 py-4 flex justify-center items-center gap-5">
            <img src="{% static 'images/icons/service-hours.svg' %}" class="lg:w-12 w-10 h-12 object-contain">
            <div>
                <h4 class="font-medium capitalize text-lg">24/7 Support</h4>
                <p class="text-gray-500 text-xs lg:text-sm">Customer support</p>
            </div>
        </div>
        <!-- single feature end -->

    </div>
</div> {% endcomment %}
<!-- features end -->

<footer class="bg-white flex justify-center items-center flex-col py-4 border-t">
    <div class="flex m-1">
        STORE_NAME &copy;2022
    </div>
    <div class="flex space-x-6">
        <a href="#" class="text-gray-400 hover:text-gray-500">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="text-gray-400 hover:text-gray-500">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</footer>